:root{
    --background-primary:  #011826;
    --color-primary: #EAF205;
    --background-secundary: #F235B0;
}

body{
    background-color: var(--background-primary);
    color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logotipo{
    width: 100px;
    height: auto;
}
nav{
    background-color: var(--background-primary) !important;
}

#header{
    background-image: url(../img/javascript-grande.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
}

#header > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 20px 30px;
}
#header > div > button{
    border-radius: 10px;
}
p{
    color: var(--background-primary);
}